.checklist-container {
    width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;

    .icon {
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .checklist {
        overflow: auto;
    }
    .item-input-container {
        height: 44px;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        display: flex;
        align-items: center;

        .item-input {
            font-size: 18px;
            width: 100%;
            height: 20px;
        }
        .add-button {
            background-image: url("../../images/add.png");
            margin: 25px;
            border: none;
        }
    }
    .checkbox-container {
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .checkbox {

        }
    }
    .additional-buttons-container {
        justify-content: space-between;
        height: 44px;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        display: flex;

        .buttons-container {
            width: 150px;
            display: flex;
            justify-content: space-around;

            .button {

            }
        }

        .button-container {
            width: 70px;
            display: flex;
            justify-content: space-around;

            .button {

            }
        }
    }
}